##**1. Write a code to create a string with your name and print it.**

In [1]:
name = "Ankan"
print(name)

Ankan

##**2.Write a code to find the length of the string "Hello World"**

In [2]:
text = "Hello World"
print(len(text))

11

##**3.Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

##**4. Write a code to convert the string "hello" to uppercase.**

In [4]:
word = "hello"
print(word.upper())

HELLO

##**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

##**6.  Write a code to create a list with numbers 1 to 5 and print it.**

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

##**7.  Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

##**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [8]:
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

##**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [9]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

##**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [10]:
lst3 = [10, 20, 30, 40, 50]
lst3.reverse()
print(lst3)

[50, 40, 30, 20, 10]

##**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

##**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [31]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[1:])

('green', 'blue', 'yellow')

##**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [13]:
nums = (10, 20, 5, 15)
print(min(nums))

5

##**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

##**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [15]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [32]:
fruits = ("apple", "kiwi", "mango")
print("kiwi" in fruits)

True

##**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

##**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

##**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

##**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

##**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [20]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

##**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [21]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

##**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [22]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

##**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [33]:
person = {'name': 'Alice', 'age': 30}
print(person["age"])

30

##**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

##**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

##**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [26]:
my_list = [1, 2, 3]
my_tuple = ("apple", "banana", "mango")
my_dict = {"name": "Eja", "age": 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('apple', 'banana', 'mango')
{'name': 'Eja', 'age': 20}

##**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [27]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[6, 19, 20, 50, 94]

##**28. Write a code to create a list with strings and print the element at the third index.**

In [28]:
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])

date

##**29. Write a code to combine two dictionaries into one and print the result.**

In [29]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##**30. Write a code to convert a list of strings into a set.**

In [30]:
words = ["apple", "banana", "cherry", "apple"]
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}